h1{
    text-align: center;
    color: aqua;
}
.body{
background-color:aqua;
}
.paragraph{
    color:white;
    background-color: black;
}
.hobbies{
    color: blanchedalmond;
    background-color: brown;
}
.skills{
    color: chartreuse;
    background-color: cornflowerblue;
}